<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- <link href="page.css" rel="stylesheet" type="text/css" /> -->

</head>
	
<body>
	<div>
		<nav class="top_bar">
			<a class="font-r">배달의 민족</a>


			<!-- <ul class="navbar__menu">
				<li><a href="">홈</a></li>
				<li><a href="">홈</a></li>
				<li><a href="">홈</a></li>
				<li><a href="">홈</a></li>
			</ul> -->

			<button class="navbar__links">
				로그인
			</button>
		</nav>
	</div>
	
	<div class="catlist nav-c">

		<div class="row row-cols-1 row-cols-md-3 g-4 ">
			
		  <div class="col">
			<div class="card h-100">
			  <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210824_268%2F1629766135202lOA69_PNG%2FTCoVsvdDigXjJPwrXDDGFtDw.png&type=sc960_832" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">치킨</h5>
			  </div>
			</div>
		  </div>
			
		  <div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">중식</h5>
			  </div>
			</div>
		  </div>
			
			<div class="col">
			<div class="card h-100">
			  <img src="https://mp-seoul-image-production-s3.mangoplate.com/2277205_1658240910986269.jpg?fit=around|738:738&crop=738:738;*,*&output-format=jpg&output-quality=80" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">족발</h5>
			  </div>
			</div>
		  </div>
			
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">피자</h5>
			  </div>
			</div>
		  </div>
			
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">양식</h5>
			  </div>
			</div>
		  </div>
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">돈까스</h5>
			  </div>
			</div>
		  </div>
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">분식</h5>

			  </div>
			</div>
		  </div>
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">패스트푸드</h5>

			  </div>
			</div>
		  </div>
			<div class="col">
			<div class="card h-100">
			  <img src="https://img.hankyung.com/photo/202108/99.26501439.1-1200x.jpg" class="card-img-top">
			  <div class="card-body">
				<h5 class="nav-c">백반</h5>

			  </div>
			</div>
		  </div>

	</div>
	
</body>
	
</html>