<!DOCTYPE html>
<html>
	<head>
	
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>replit</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<body>
		
		
		<div>
			<nav class="top_bar">
				<a href="https://pagetest-mdurv.run.goorm.io/menupage" class="font1">
					배달의 민족
				</a>

				<ul class="nav justify-content-center font2">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Active</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				  </li>
				</ul>

				<button class="font1">
					로그인하기
				</button>
			</nav>
			

		</div>
		
		
		
		
		
		<div class="ceopage_arr1">
			
			<form action="#">
				
				<p class="ceopage_arr2 font3">가게</p>
				<input class="font4" type="string" name="store_name" placeholder="string">
		
				<p class="ceopage_arr2 font3">가게주소 </p>
				<input class="font4" type="string" name="store_address" placeholder="string">
				
				<p class="ceopage_arr2 font3">카테고리</p>
				<input class="font4" type="string" name="food_category" placeholder="string">
				
				<p class="ceopage_arr2 font3">최소주문금액</p>
				<input class="font4" type="integer" name="min_price" placeholder="integer">
				
				<p class="ceopage_arr2 font3">배달팁</p>
				<input class="font4" type="integer" name="tip" placeholder="integer">
				
				<p class="ceopage_arr2 font3">내용</p>
				<input class="font4" type="text" name="content" placeholder="text">
				
				<p class="ceopage_arr2 font3">가이드</p>
				<input class="font4" type="text" name="guide" placeholder="text">
				
				<p class="ceopage_arr2 font3">폰번호</p>
				<input class="font4" type="string" name="phone" placeholder="string">
				
				<p class="ceopage_arr2 font3">배송지</p>
				<input class="font4" type="string" name="delivery_address" placeholder="string">
				
				<p class="ceopage_arr2 font3">기억안남</p>
				<input class="font4" type="string" name="operation_address" placeholder="string">
				
				<p class="ceopage_arr2 font3">휴무일</p>
				<input class="font4" type="string" name="closedDay" placeholder="string">
				
				<p class="ceopage_arr2 font3">dib_count</p>
				<input class="font4" type="integer" name="dibs_count" placeholder="integer">
				
				<p class="ceopage_arr2 font3">리뷰개수</p>
				<input class="font4" type="integer" name="review_count" placeholder="integer">
				
				<p class="ceopage_arr2 font3">리뷰점수</p>
				<input class="font4" type="integer" name="rating_count" placeholder="integer">
				
				<p class="ceopage_arr2"></p>
				<input class="font4" type="submit" >
				
			</form>
			
			
		</div>
		

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		
	</body>
</html>