<!DOCTYPE html>
<html>
	<head>
	
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>replit</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="category_arr7">
			<form class="row g-3">
				
				
			  <div class="col-md-6">
				<label for="inputEmail4" class="form-label col-form-label-lg">가게명</label>
				<input type="email" class="form-control" id="inputEmail4">
			  </div>
				
				
			  <div class="col-md-6">
				<label for="inputPassword4" class="form-label col-form-label-lg">패스워드</label>
				<input type="password" class="form-control" id="inputPassword4">
			  </div>
				
				
			  <div class="col-12">
				<label for="inputAddress" class="form-label col-form-label-lg">주소</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="도로명 주소">
			  </div>
				
			  <div class="col-12">
				<label for="inputAddress" class="form-label col-form-label-lg">전화번호</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="010-xxxx-xxxx">
			  </div>

			  <div class="col-12">
				<button type="submit" class="btn btn-primary">추가하기</button>
			  </div>
				
				
			</form>
		</div>
	</body>
</html>