<!DOCTYPE html>
<html>
	<head>
	
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>replit</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<body>
		
		
		<div>
			<nav class="top_bar">
				<a href="https://pagetest-mdurv.run.goorm.io/menupage" class="font1">
					배달의 민족
				</a>

				<ul class="nav justify-content-center font2">
				  <li class="nav-item">
					<a class="nav-link" aria-current="page" href="https://pagetest-mdurv.run.goorm.io/mypage">마이페이지</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">쿠폰함</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">선물함</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://pagetest-mdurv.run.goorm.io/shopping">장바구니</a>
				  </li>
				</ul>

				<button class="font1">
					검색
				</button>
			</nav>
			
		</div>
		
		



		<div class="storeadd_arr1">

				<form action="#">
					<div class="font1" style="margin-top: 50px;">
						가게추가하기
					</div>
					<div>
						<label class="font4" for="id1" style="margin-top: 50px;">가게명 : </label>
						<input style="font-size:2vw;" type="string" id="id1" name="store_name" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id2" style="margin-top: 50px;">가게주소 : </label>
						<input style="font-size:2vw;"type="string" id="id2" name="store_address" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id3" style="margin-top: 50px;">카테고리 : </label>
						<input style="font-size:2vw;" type="string" id="id3" name="food_category" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id4" style="margin-top: 50px;">최소주문금액 : </label>
						<input style="font-size:2vw;" type="integer" id="id4" name="min_price" placeholder="integer">
					</div>
					
					<div>
						<label class="font4" for="id5" style="margin-top: 50px;">배달팁 :</label>
						<input style="font-size:2vw;" type="integer" id ="id5" name="tip" placeholder="integer">
					</div>
					
					<div>
						<label class="font4" for="id6" style="margin-top: 50px;">내용 :</label>
						<input style="font-size:2vw;" type="string" id="id6" name="store_name" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id7" style="margin-top: 50px;">가이드 :</label>
						<input style="font-size:2vw;" type="text" id="id7" name="guide" placeholder="text">
					</div>
					
					<div>
						<label class="font4" for="id8" style="margin-top: 50px;">폰번호 :</label>
						<input style="font-size:2vw;" type="string" id="id8" name="phone" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id9" style="margin-top: 50px;">배송지 :</label>
						<input style="font-size:2vw;" type="string" id="id9" name="delivery_address" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id10" style="margin-top: 50px;">기억안남 :</label>
						<input style="font-size:2vw;" type="string" id="id10" name="operation_address" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id11" style="margin-top: 50px;">휴무일 :</label>
						<input style="font-size:2vw;" type="string" id="id11" name="closedDay" placeholder="string">
					</div>
					
					<div>
						<label class="font4" for="id12" style="margin-top: 50px;">dib_count :</label>
						<input style="font-size:2vw;" type="integer" id="id12" name="dibs_count" placeholder="integer">
					</div>
					
					<div>
						<label class="font4" for="id13" style="margin-top: 50px;">리뷰개수 :</label>
						<input style="font-size:2vw;" type="integer" id="id13" name="review_count" placeholder="integer">
					</div>
					
					<div>
						<label class="font4" for="id14" style="margin-top: 50px;">리뷰점수 :</label>
						<input style="font-size:2vw;" type="integer" id="id14" name="rating_count" placeholder="integer">
					</div>
					
					<div>
						<button type="submit" class="btn btn-primary btn-lg" style="margin: 30px; font-size:2vw;"> 
							가게추가하기
						</button>
					</div>
					
				</form>

		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		
	</body>
</html>